@{
    ViewBag.Title = "Contact";
}

<div class="container">
@model Portfolio.Models.PortfolioContact
@{
    ViewBag.Title = "Contact Form";
}

<div class="contactform">
    <h2>Contact Me!</h2>
    <form action="@Url.Action("Index","Contact")" method="post">
        <div class="input">
            <!--create label, then text box, then validation for each property you want to display-->
            @Html.ValidationMessageFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "First Name" })
        </div>
        <div class="input">
            @Html.ValidationMessageFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Last Name" })
        </div>
        <div class="input">
            @Html.ValidationMessageFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email Address" })
        </div>
        <div class="input">
            @Html.ValidationMessageFor(x => x.PhoneNumber)
            @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "Phone Number" })
        </div>
        <div class="input">
            @Html.ValidationMessageFor(x => x.Comment)
            @Html.TextAreaFor(x => x.Comment, new { @placeholder = "Comment" })
        </div>
        <br />
        <div id="submit">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
    </div>



<!--Add a reference to jQuery validation. This is the javascript that actually performs our validation using jQuery-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}