@{
    ViewBag.Title = "Contact";
}

<div class="container">
@model Portfolio.Models.PortfolioContact
@{
    ViewBag.Title = "Contact Form";
}

<div class="contactform">
    <h2>Contact Form</h2>
    <form action="@Url.Action("Index","Contact")" method="post">
        <div class="name">
            <!--create label, then text box, then validation for each property you want to display-->
            First Name&nbsp &nbsp &nbsp
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        <div class="name">
            Last Name &nbsp &nbsp &nbsp &nbsp
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
        <div class="contactinfo">
            <br />
            <br />
            Email Address
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="contactinfo">
            Phone Number 
            @Html.TextBoxFor(x => x.PhoneNumber)
            @Html.ValidationMessageFor(x => x.PhoneNumber)
        </div>
        <div>
            <br /><br />
            Comments&nbsp &nbsp &nbsp
            @Html.TextAreaFor(x => x.Comment)
            @Html.ValidationMessageFor(x => x.Comment)
        </div>
        <br />
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Submit" />
    </form>
</div>
    </div>



<!--Add a reference to jQuery validation. This is the javascript that actually performs our validation using jQuery-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}