@{
    ViewBag.Title = "Work";
}

<div class="container">
        <div class="topleftwork">
            <div class="carousel active">
                <a href="@Url.Action("Battleship", "Work")">
                    <img src="http://i.imgur.com/8A0v0vj.png" /><br />
                    Battleship
                </a>
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("Battleship", "Work")">
                    <img src="http://tinyurl.com/qeemlqf" /><br />
                    Battleship
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("Battleship", "Work")">
                    <img src="http://i.imgur.com/8A0v0vj.png" /><br />
                    Battleship
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("Battleship", "Work")">
                    <img src="http://tinyurl.com/qeemlqf" /><br />
                    Battleship
                </a>
            </div>
            <br />
            <div class="carousel-next active battle">
                Next
            </div>
        </div>
        <div class="toprightwork">
            <div class="carousel active">
                <a href="@Url.Action("TheWakingDead", "Work")">
                    <img src="http://i.imgur.com/5kcCM2E.png" /><br />
                    The Waking Dead
                </a>
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("TheWakingDead", "Work")">
                    <img src="http://tinyurl.com/qeemlqf" /><br />
                    The Waking Dead
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("TheWakingDead", "Work")">
                    <img src="http://i.imgur.com/5kcCM2E.png" /><br />
                    The Waking Dead
                </a>
            </div>
            <div class="carousel hide">
                <a href="@Url.Action("TheWakingDead", "Work")">
                    <img src="http://tinyurl.com/qeemlqf" /><br />
                    The Waking Dead
                </a>
            </div>
            <br />
            <div class="carousel-next active dead">
                Next
            </div>
        </div>
        <div class="bottomleftwork">
        <div class="carousel active">
            <a href="@Url.Action("HangMan", "Work")">
                <img src="http://i.imgur.com/LdTBNG5.png?1" /><br />
                Hangman
            </a>
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("HangMan", "Work")">
                <img src="http://tinyurl.com/qeemlqf" /><br />
                Hangman
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("HangMan", "Work")">
                <img src="http://i.imgur.com/LdTBNG5.png?1" /><br />
                Hangman
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("HangMan", "Work")">
                <img src="http://tinyurl.com/qeemlqf" /><br />
                Hangman
            </a>
        </div>
        <br />
        <div class="carousel-next active hang">
            Next
        </div>
    </div>
        <div class="bottomrightwork">
        <div class="carousel active">
            <a href="@Url.Action("GuessThatNumber", "Work")">
                <img src="http://i.imgur.com/uiVlAza.png" /><br />
                Guess That Number!
            </a>
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("GuessThatNumber", "Work")">
                <img src="http://tinyurl.com/qeemlqf" /><br />
                Guess That Number!
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("GuessThatNumber", "Work")">
                <img src="http://i.imgur.com/uiVlAza.png" /><br />
                Guess That Number!
            </a>
        </div>
        <div class="carousel hide">
            <a href="@Url.Action("GuessThatNumber", "Work")">
                <img src="http://tinyurl.com/qeemlqf" /><br />
                Guess That Number!
            </a>
        </div>
        <br />
        <div class="carousel-next active guess">
            Next
        </div>
    </div>
</div>
